<nav class="nav">
    <ul>
        <div class="logo">
        <a href="/myTasks" id="logo"><img src="/logo.png" alt="logo"></a>
        </div>
        <div class="rest">
        <a href="/myTasks" id="tasks">My Tasks</a>
        <a href="/tasks" id="tasks">Add Tasks</a>
        <a href="/investments" id="investments">Add Investments</a>
        <a href="/account" id="account">Account</a>
        <a href="/logout" id="logout">Logout</a>   
        </div> 
    </ul>
</nav>