<nav class="nav">
    <ul>
        <div class="logo">
        <a href="/" id="logo"><img src="/logo.png" alt="logo"></a>
        </div>
        <div class="rest">
        <a href="/" id="tasks">Tasks</a>
        <a href="/account" id="account">Account</a>
        <a href="/login" id="login">Log In</a>
        <a href="/logout" id="logout">Logout</a>   
        </div> 
    </ul>
</nav>