<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class= 'form' id="login_div">
        <!-- Should probably change the form action to a new page for validating logins -->
        <form action="/" method="post">
        <p class="header">Log In</p>
        <div class="info">
            <label for="email">Email</label>
            <input type = "email" name="email" required><br>
            <label for="password">Password</label>
            <input type="password" name="password" required><br>
            <small>Haven't registered? <a href="/register">Register here</a><br>
            <button type="submit" class= "loginbtn">Log In</button>
        </div>
        </form>
    </div>
</body>
</html>