<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/checkNav.ejs') %>
      <div class='task solo'>
    <h1>Welcome, <%= user.name %></h1>
    <h2>Email: <%= user.email %></h2>
      </div>
</body>
</html>