<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <% if(success > 0) { %>
        <% if(success == 1) { %>
            <div class="success"><p>You are logged in!</p></div>
        <% } %>
        <% if(success == 2) { %>
            <div class="success"><p>You have logged out!</p></div>
        <% } %>
    <% } %>
    <% if(error > 0) { %>
        <% if(error == 1) { %>
            <div class="error"><p>User with that email not found.</p></div>
        <% } %>
        <% if(error == 2) { %>
            <div class="error"><p>Incorrect password.</p></div>
        <% } %>
        <% if(error == 3) { %>
            <div class="error"><p>You are already logged in</p></div>
        <% } %>
        <% if(error == 4) { %>
            <div class="error"><p>You were not logged in.</p></div>
        <% } %>
    <% } %>
    <%- include('./partials/nav.ejs') %>
    <div class= 'form' id="login_div">
        <!-- Should probably change the form action to a new page for validating logins -->
        <form action="/" method="post">
        <p class="header">Log In</p>
        <div class="info">
            <label for="email">Email</label>
            <input type = "email" name="email" required><br>
            <label for="password">Password</label>
            <input type="password" name="password" required><br>
            <small>Haven't registered? <a href="/register">Register here</a><br>
            <button type="submit" class= "loginbtn">Log In</button>
        </div>
        </form>
    </div>
</body>
</html>