<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
  <% if(success > 0){ %>
    <% if(success == 1) { %>
      <div class="success"><p>You have successfully registered. You may proceed to <a href="/login" class="link">log in</a></p></div>
    <% } %>
  <% } %>
  <% if(error > 0){ %>
    <% if(error == 1) { %>
      <div class="error"><p>Passwords did not match.</p></div>
    <% } %>
    <% if(error == 2) { %>
      <div class="error"><p>Email already in use.</p></div>
    <% } %>
  <% } %>
  <%- include('./partials/checkNav.ejs') %>
    <div class= 'form' id="registration_div">
        <form class="register" action="/success" method="post">
          <p class="header">Register</p>
          <div class="info">
            <label for="name">Name</label>
            <input type = "text" name="name" required><br>
            <label for="email">Email</label>
            <input type = "email" name="email" required><br>
            <label for="password">Password</label>
            <input type="password" name="password" required><br>
            <label for="confirm_password">Confirm Password</label>
            <input type="password" name="confirm_password" required><br>
            <button type="submit" class="registerbtn">Register</button><br>
            <small>Already registered? <a href="/login" class="link">Log in here</a>
          </div>
        </form>
    </div>
</body>
</html>