@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
html, body, *{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: white;
}
nav{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.856);
}
nav a{
    text-decoration: none;
    vertical-align: middle;
    font-size: 30px;
    padding-right: 20px;
    color: white;
    transition: all .2s ease-in-out; 
}
nav a:hover { 
    transform: scale(1.1); 
}
.logo{
    text-align: left;
    width: 49%;
}
.logo img{
    width: 50%;
}
.rest{
    text-align: right;
    width: 50%;
}
.logo, .rest{
    display: inline-block;
}

.form{
    text-align: center;
    background-color: rgb(136, 192, 62);
    width: 50%;
    margin: 30px auto;
    padding: 40px;
    line-height: 2em;
    font-size: 30px;
    border-radius: 10px;
}
input{
    font-size: 30px;
    align-items: right;
}
.info{
    background-color: rgb(53, 102, 38);
    text-align: left;
    margin: 0 auto;
    padding: 15px;
    border-radius: 10px;
}
.loginbtn{
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}
.registerbtn{
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}
small{
    font-size: 15px;
}
.error{
    text-align: center;
    width: 100%;
    background-color: red;
    font-size: 15px;
    padding: 5px;
}

.success{
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: limegreen;
    font-size: 15px;
}